body {
	background-color: rgb(235, 235, 235);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;	
}
h1 {
	color: blue;
}

h2 {
	color: blue;
	margin-top: .3em;
}

h3 {
	margin-top: .3em;
	margin-bottom: .2em;
	color: blue;
}

p {
	color: black;
}

.container {
	background-color: rgb(245, 245, 245);
	border-width: medium;
	border-color: black;
	width: 35%;
	position: relative;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, 0%);
	border-radius: 2em;
	border-style: outset;
	padding: 1em;
	padding-top: .5em;
	margin-right: 2em;
	margin-left: 2em;
	margin-top: 1em;
	margin-bottom: 1em;
	max-width: 30em;
}

.header .container {
	max-width: 45em;
	width: 50%;
	padding: 1.5em;
	text-align: center;
	border-width: thick;
	margin-bottom: 2em;
}

.lobby .container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr .25fr 1fr 1fr 1fr;
	width: 70%;
	max-width: 60em;
	padding: 1.5em;
	margin-bottom: 2em;
}

.game .container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr .25fr 1fr;
	width: 70%;
	max-width: 60em;
	padding: 1.5em;
	margin-bottom: 2em;
}

.player .container {
	margin: .2em;
	font-size: 1em;
	display: inline-block;
	width: auto-fit;
	transform: none;
	left: 0%;
	padding: .5em;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 1em;
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.dot {
  height: 25px;
  width: 25px;
  background-color: blue;
  border-radius: 50%;
  display: inline-block;
}

.in-game-text:hover {
	text-decoration: underline;
}

#settingsButton{
  position: absolute;
  top: 75%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
